* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
  background: #0C325A;
}

/* Utility CSS */

.inline {
  display: inline-block;
}

.side-padd {
  padding: 0 5%;
}

/* / Utility CSS */

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  width: 100vw;
  height: 120px;
  background: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.head-content {
  width: 100%;
  height: 100vh;
  background: gray;
}

.head-content>div:first-child {
  width: 100%;
  height: 70%;
  background: purple;
  padding-top: 120px;
}

.band {
  width: 100%;
  height: 30vh;
  background: #D3D3D3;
}

.body-content {
  height: 100vh;
  background: #FFF;
}

.body-content> * {
  height: 50vh;
  border: solid black;
  text-align: center;
}

.body-content>:first-child>.box {
  width: calc(100% / 3 - 43px);
  margin: 0 20px;
  background: red;
}

.body-content>:last-child>.box {
  width: calc(100% / 2 - 3px);
  height: 100%;
  background: red;
}

.foot-content {
  height: 100vh;
  background: #FFF;
}
