* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
}

h2 {
  margin-bottom: 25px;
}

/* Utility CSS */

.inline {
  display: inline-block;
}

.float-l {
  float:left;
}

.float-r {
  float:right;
}

.centering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

.content {
  width: 100vw;
  height: 100%;
  min-width: 1500px;
  max-width: 100%;
  padding: 0 8%;
  margin: auto;
  position: relative;
}

.submit{
  background: #7CBB02;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 15px;
}

/* / Utility CSS */

.fix-band {
  max-width: 100%;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  z-index: 2;
}

.fix-band li {
  vertical-align: middle;
  display: inline-block;
  height: 90px;
  line-height: 90px;
}

.menu li img {
  vertical-align: middle;
  position: relative;
  bottom: 5px;
}

.menu li, .form a  {
  margin: 0 10px;
}

.form>a:nth-child(2) {
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 15px;
}

.top-band {
  height: 80vh;
  padding-top: 120px;
  color: #FFF;
}

.fix-band, .top-band {
  background: #0C325A;
}

.fix-band a, .top-band a {
  color: #FFF;
  text-decoration: none;
}

.top-band {
  height: 80vh;
  padding-top: 120px;
  color: #FFF;
  overflow: hidden;
  position: relative;
}

.top-band>.content>img {
  position: absolute;
  width: 75%;
  bottom: 0;
  right: -50px;
}

.slogan {
  padding: 10% 0;
}

.slogan h2 {
  width: 40%;
  font-size: 45px;
}

.picture {
  width: 80%;
}

.picture>img {
  width: 80%;
}

.sub-band {
  height: 20vh;
  background: #D3D3D3;
}

.sub-band>.content {
  position: relative;
  height: 100%;
}

.main-band {
  background: #FFF;
}

.main-band> * {
  text-align: center;
}

.main-band:nth-last-of-type(2) .box {
  width: calc(100% / 3);
  padding: 25px;
  margin: 4% auto;
  list-style: none;
}

.main-band:nth-last-of-type(2) .box>img {
  height: 150px;
  margin-bottom: 15px;
}

.main-band:nth-last-of-type(2) .box>h2 {
  font-weight: bold;
  font-size: 20px;
  color: green;
}

.line {
  width: 50%;
  height: 1px;
  background: rgba(0, 0, 0, 0.5);
  margin: 15px auto;
}

.main-band:last-of-type .box {
  width: calc(100% / 2 - 3px);
  height: 100%;
  padding: 0 50px;
  text-align: left;
}
